Repository tinkernerd/ISYS115: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint"],
  "*.{html,md,json}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

fixed README
  .github/README.md
  .markdownlint.json
Due: prettier --write

start to clean up & readme update
  .github/README.md
  src/views/test.html
Due: prettier --write

api semicolon
  src/assets/js/footer.js
Due: prettier --write, eslint

Update README.md
  .github/README.md
Due: prettier --write

updated readme
  .github/README.md
Due: prettier --write

updated theme, changed sidebar to sliding, and added footer to whole site.
  src/assets/js/nav.js
  src/assets/scss/modules/docs/_callout.scss
  src/assets/scss/modules/main/_contact.scss
  src/assets/scss/modules/main/_feedback.scss
  src/assets/scss/modules/main/_footer.scss
  src/assets/scss/modules/main/_global.scss
  src/assets/scss/modules/main/_header.scss
  src/assets/scss/modules/main/_sidebar.scss
  src/assets/scss/modules/main/_variables.scss
  src/assets/scss/modules/main/index.scss
  src/assets/scss/projects/_book-review.scss
  src/views/about.html
  src/views/components/footer.html
  src/views/components/header.html
  src/views/contact.html
  src/views/feedback.html
  src/views/index.html
  src/views/notes/api.html
  src/views/notes/dom-manipulation.html
  src/views/notes/functions.html
  src/views/notes/index.html
  src/views/notes/web-security.html
  src/views/privacy.html
  src/views/projects/bill-total.html
  src/views/projects/book-review.html
  src/views/projects/bouncing-balls.html
  src/views/projects/calculator.html
  src/views/projects/doc-write.html
  src/views/projects/index.html
  src/views/projects/live-metar.html
Due: prettier --write, eslint, stylelint
